<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Entry/Exit</h4>

        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tag Id</th>
                    <th scope="col">Date Entry</th>
                    <th scope="col">Tag Number</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let us of a">
                    <th scope="row">{{us.id}}</th>
                    <td>{{us.Tag_id}}</td>
                    <td>{{us.Date_and_Time}}</td>
                    <td>{{us.Tag_Number}}</td>
                   
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
