
#calendar{
    width: 490px;
    font-family: 'Lato', sans-serif;
    height: 700px;
}
#calendar_weekdays div{
    display:inline-block;
    vertical-align:top;
}
.calendar_weekday{
    color:  rgb(10, 115, 147) !important;
    width: 70px!important;
    height: 70px!important;
    line-height: 70px!important;
}

#calendar_content, #calendar_header{
    position: relative;
    width: 490px;
    overflow: hidden;
    float: left;
    z-index: 10;
}
#calendar_weekdays{
    position: relative;
    width: 490px;
    overflow: hidden;
    float: left;
    z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
    width:70px;
    height: 70px;
    line-height: 70px!important;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #3a3030;
}
#calendar_content{
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
    float: left;
}
#calendar_content div:hover{
    background-color: rgba(128, 124, 124, 0.06);
}
#calendar_content div.disabled{
    background-color:#c6c4c4;
}
#calendar_header, #calendar_content div.disabled{
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#calendar_content div.today{
    color: #FFFFFF;
    background-color:  rgb(10, 115, 147);
    opacity: 0.7;
}
#calendar_content div.selected {
    color: #FFFFFF;
    background-color: rgb(10, 115, 147);
    opacity: 0.7;
    width:250%
}
#calendar_header{
    //width: 100%;
    text-align: center;
    background-color: #0b86b2;
    height: 65px;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    width:118%
}
#calendar_header .title{
    font-size: 1.5em;
    color: #FFFFFF;
    float:left;
    width:70%;
    line-height: 65px;
}
.arrow{
    color: #FFFFFF;
    float: left;
    width:15%;
}
.arrow .mat-icon{
    line-height: 65px;

}
